# Git Gud Can't Stop
> Simple Calculation to help us make better decision in the game of [Can't Stop](https://en.wikipedia.org/wiki/Can't_Stop_(board_game). 

- toc: true 
- badges: true
- comments: true
- categories: [fastpages, jupyter]

In [74]:
import pandas as pd
import numpy as np
import itertools

In [1]:
all_lst = []

In [5]:
# Compute all possible dice combination
for d1 in range(1,7):
    for d2 in range(1,7):
        for d3 in range(1,7):
            for d4 in range(1,7):
                comb = [d1,d2,d3,d4]
                all_lst.append(comb)

In [11]:
df = pd.DataFrame(all_lst)

In [12]:
df.columns = ["dice_1", "dice_2", "dice_3", "dice_4"]

In [57]:
df["comb_set"] = np.NaN

In [58]:
df

      dice_1  dice_2  dice_3  dice_4  comb_set
0          1       1       1       1       NaN
1          1       1       1       2       NaN
2          1       1       1       3       NaN
3          1       1       1       4       NaN
4          1       1       1       5       NaN
...      ...     ...     ...     ...       ...
1291       6       6       6       2       NaN
1292       6       6       6       3       NaN
1293       6       6       6       4       NaN
1294       6       6       6       5       NaN
1295       6       6       6       6       NaN

[1296 rows x 5 columns]

In [67]:
# Compute the possible number can be formed for each combination with two dices
unique_lst = []
for i, row in df.iterrows():
    comb_set = set()
    comb_set.add(row["dice_1"] + row["dice_2"]) 
    comb_set.add(row["dice_1"] + row["dice_3"]) 
    comb_set.add(row["dice_1"] + row["dice_4"]) 
    comb_set.add(row["dice_2"] + row["dice_3"]) 
    comb_set.add(row["dice_2"] + row["dice_4"]) 
    comb_set.add(row["dice_3"] + row["dice_4"]) 
    unique_lst.append(list(comb_set))
#     print(list(comb_set))
    
#     df.loc[i,"comb_set"] = list(comb_set)

In [61]:
df["comb_set"] = unique_lst

In [62]:
df

      dice_1  dice_2  dice_3  dice_4      comb_set
0          1       1       1       1         [2.0]
1          1       1       1       2    [2.0, 3.0]
2          1       1       1       3    [2.0, 4.0]
3          1       1       1       4    [2.0, 5.0]
4          1       1       1       5    [2.0, 6.0]
...      ...     ...     ...     ...           ...
1291       6       6       6       2   [8.0, 12.0]
1292       6       6       6       3   [9.0, 12.0]
1293       6       6       6       4  [10.0, 12.0]
1294       6       6       6       5  [11.0, 12.0]
1295       6       6       6       6        [12.0]

[1296 rows x 5 columns]

In [60]:
len(unique_lst)

1296

In [63]:
# Possible Column Numbers in game
number_col = list(range(2,13)); number_col

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [65]:
prob_lst = []
for col in number_col:
    count = 0
    for unique in unique_lst:
        if col in unique:
            count += 1
    prob = count/len(unique_lst)
    prob_lst.append(prob)

In [90]:
for col, prob in zip(number_col,prob_lst):
    print(f"Probability of Hitting {col} is {round(prob*100,2)}%")

Probability of Hitting 2 is 13.19%
Probability of Hitting 3 is 23.3%
Probability of Hitting 4 is 35.57%
Probability of Hitting 5 is 44.75%
Probability of Hitting 6 is 56.1%
Probability of Hitting 7 is 64.35%
Probability of Hitting 8 is 56.1%
Probability of Hitting 9 is 44.75%
Probability of Hitting 10 is 35.57%
Probability of Hitting 11 is 23.3%
Probability of Hitting 12 is 13.19%

In [75]:
comb_3_lst = list(itertools.combinations(number_col, 3))

In [76]:
prob_3_lst = []
for comb_3 in comb_3_lst:
    count = 0
    for unique in unique_lst:
        if comb_3[0] in unique or comb_3[1] in unique or comb_3[2] in unique:
            count += 1
            
    prob_3 = count/len(unique_lst)
    prob_3_lst.append(prob_3)

In [79]:
assert len(prob_3_lst) == len(comb_3_lst)

In [80]:
final_df = pd.DataFrame()

In [81]:
final_df["possible_numbers_round"] = comb_3_lst

In [82]:
final_df["probability_hit"] = prob_3_lst

In [85]:
final_df.sort_values(by='probability_hit', ascending=False).head(10)

    possible_numbers_round  probability_hit
130              (6, 7, 8)         0.919753
131              (6, 7, 9)         0.914352
115              (5, 7, 8)         0.914352
136             (6, 8, 10)         0.911265
89               (4, 6, 8)         0.911265
132             (6, 7, 10)         0.902778
94               (4, 7, 8)         0.902778
110              (5, 6, 8)         0.895062
135              (6, 8, 9)         0.895062
66               (3, 7, 8)         0.892747

In [86]:
final_df.sort_values(by='probability_hit', ascending=False).tail(10)

    possible_numbers_round  probability_hit
42             (2, 10, 11)         0.578704
52              (3, 4, 12)         0.578704
16              (2, 4, 12)         0.551698
43             (2, 10, 12)         0.551698
7               (2, 3, 11)         0.525463
80             (3, 11, 12)         0.525463
0                (2, 3, 4)         0.521605
164           (10, 11, 12)         0.521605
44             (2, 11, 12)         0.438272
8               (2, 3, 12)         0.438272